<%- include('partials/_header') %>

<div id="todo" class="m-0 p-0">

    <!-- ----------- SLIDER ----------------- -->
  <div class="d-flex justify-content-center">
  
    <div class=" col-lg-7 col-sm-12">
      
      <div class="d-flex img-container" style="overflow: scroll; scroll-snap-type: x mandatory;">
        
        <img src="<%=apto %>/1.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="1" />
        <img src="<%=apto %>/2.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="2" />
        <img src="<%=apto %>/3.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="3" />
        <img src="<%=apto %>/4.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="4" />
        <img src="<%=apto %>/5.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="5" />
        <img src="<%=apto %>/6.jpg" class="w-100 img-fluid" style="left: 0; position: sticky; border-radius: 5px; scroll-snap-align: center;" alt="6" />
        
        <a href="/" type="button" class="bg-white btn btn-overlay rounded-circle" style="position: absolute; left: 5%; top: 5%;  z-index: 100;"> < </a>
  
      </div>
    
    </div>
    
  </div>
    
    <!-- ----------- CONTENIDO ----------------- -->
  <div class="d-flex justify-content-center">

    <div>

      <div class="d-flex">
        <% data.forEach((propiedad,index) => {%>
        <div id="carpeta" aria-valuetext="<%= apto %>"></div>
        <% if (propiedad.propiedad == apto){ %>
        
          <div id="encabezado" class="ml-4 mr-4 mt-lg-3 mt-2">
            <tr>  
              <h3><%= propiedad.titulo %></h3>
              <h5>Loft en <%= propiedad.ubicacion %>, Barranquilla</h5>

              <% if (propiedad.habitacion == 1 && propiedad.bano == 1) { %>
              <h6><%= propiedad.huespedes %> huéspedes  -  <%= propiedad.habitacion %> habitación  -  <%=propiedad.camaSizes.length %> camas  -  <%= propiedad.bano %> baño</h6>
              <% } else { %>
              <h6><%= propiedad.huespedes %> huéspedes  -  <%= propiedad.habitacion %> habitaciones  -  <%=propiedad.camaSizes.length %> camas  -  <%= propiedad.bano %> baños</h6>
              <% } %>

            </tr> <hr />  
  
            <h6 class='texto-apoyo'>Dónde vas a dormir ?</h6>
                
            <div class="d-flex w-100">
              <% for (i = 0; i < propiedad.camaSizes.length; ++i) { %>
  
              <div class="p-3 text-center border border-3 mx-2 rounded">
                <h6>Habitación <%=i + 1 %></h6>
                <p><%=propiedad.camaSizes[i] %></p>
              </div>
              <% } %>  
  
            <% if(propiedad.sofaCama > 0) { %>
              <div class="p-3">
                <h6>Sofá Cama <%=propiedad.sofaCama %></h6>
              </div>
            <% } %>  
  
            </div> <hr />
  
<!-- ----------- AMENIDADES ----------------- -->
          <h6 class="mb-4">Lo que este lugar ofrece</h6>
          
          <div class="">

            <ul class="">
              <p class="fw-bold">Dormitorio y Lavadero</p>
              <% for (a = 0 ; a < (propiedad.amenDormitorio).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenDormitorio[a]  %> </li>
              </div>
              <% } %>
            </ul>
  
            <ul class="">
              <p class="fw-bold">Cocina</p>
              <% for (a = 0 ; a < (propiedad.amenInstalacionesYServicios).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenCocina[a]  %> </li>
              </div>
              <% } %>
            </ul>

            <ul class="">
              <p class="fw-bold">Climatización</p>
              <% for (a = 0 ; a < (propiedad.amenClima).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenClima[a]  %> </li>
              </div>
              <% } %>
            </ul>

            <ul class="">
              <p class="fw-bold">Internet y Oficina</p>
              <% for (a = 0 ; a < (propiedad.amenOficina).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenOficina[a]  %> </li>
              </div>
              <% } %>
            </ul>

            <ul class="">
              <p class="fw-bold">Entretenimiento</p>
              <% for (a = 0 ; a < (propiedad.amenEntretenimiento).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenEntretenimiento[a]  %> </li>
              </div>
              <% } %>
            </ul>
  
            <ul class="">
              <p class="fw-bold">Instalaciones y Servicios</p>
              <% for (a = 0 ; a < (propiedad.amenInstalacionesYServicios).length; ++a) { %>
              <div class="">
                <li> <%=propiedad.amenInstalacionesYServicios[a]  %> </li>
              </div>
              <% } %>
            </ul>


          </div>
  
                <div class="">
                  <iframe src="<%=propiedad.mapa %>" class="w-100 h-lg-400 h-250"></iframe>
                </div>
  
                <% } %>
                <% }); %>
              </div>
      </div>  
  
    </div>
    
    </div>
  </div>

    </div>

</div>



  </body>
</html>