<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>

  <p class="mx-5">Listado Reservas</p>

  <table class="table">
    <thead>
      <tr>
        <th>Apto</th>
        <th>Llegada</th>
        <th>Huesped</th>

      </tr>
    </thead>

    <tr>
      <% for (x = 0; x < data.length; ++x) { %>

      <td><%= data[x].apto %></td>
      <td><%= data[x].checkIn %></td>
      <td><a href="/admin/detailBook?id=<%= data[x]._id %>" class="text-decoration-none"><%= data[x].huesped %></a></td> 
      </a>
    </tr>
    <% } %>
  </table>
  <br>

    
</div>


</body>
</html>   