<%- include('partials/_header') %>

<br>
<div class="text-center mt-5">

  <p class="display-2 text-center">SOHO 85</p>
  <p class="text-center">Verifique los datos y confirme para crear su cuenta</p>

  
  <p>Nombre: <%= form.name %></p>
  <p>E-Mail: <%= form.email %></p>
  <p>Contacto: <%= form.celular %></p>
  <p>Apto(s): <%= form.aptos %></p>

  <form action="/registerHost" method="POST">
    <input name="name" value="<%= form.name %>" class="d-none">
    <input name="email" value="<%= form.email %>" class="d-none">
    <input name="pass" value="<%= form.pass %>" class="d-none">
    <input name="celular" value="<%= form.celular %>" class="d-none">
    <input name="aptos" value="<%= form.aptos %>" class="d-none">
    <button type="submit" class="btn btn-primary">Confirmar</button>
  </form>
  
  <a href="/register" class="btn btn-primary mt-3">Cancelar</a>    

</div>


</body>
</html>   