<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>
  
  <p>Huésped: <%= book.huesped %></p>
  <p>Apartamento: <%= book.apto %></p>
  <p>Documento: <%= book.documento %></p>
  <p>Nacionalidad: <%= book.nacion %></p>
  <p>Total huéspedes: <%= book.pax %></p>
  <p>Menores de edad: <%= book.menor %></p>
  <p>Día de llegada: <%= book.checkIn %></p>
  <p>Día de salida: <%= book.checkOut %></p>
  <p>Info vehículo: <%= book.vehiculo %></p>

  <br>
  <a class="btn btn-primary" href="/admin/adminHost">VOLVER</a>
 
  <br>

    
</div>


</body>
</html>   