<%- include('partials/_header') %>

<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <p class="mt-4 mx-5 text-center fw-bold background-color">Reservas <%= hoy %></p>
      
</div>


<div class="d-flex justify-content-center">
  <table class="table table" style="width: 80%;">
    <tr>
      <th>Apto</th>
      <th>Huésped</th>
      <th>Documento</th>
    </tr>
  
    <tr>
      <% for (x=0; x < reservas.length; ++x) { %>

        <% if (reservas[x].checkIn ===hoy) { %>
        <td><%= reservas[x].apto %></td>
        <td><a href="/lobby/detail?id=<%= reservas[x]._id %>" class="text-decoration-none text-body-emphasis"><%= reservas[x].huesped %></a></td>
        
        <td><%= reservas[x].documento %></td>
        
        <% } %>
    </tr>
    <% } %>
  </table>
</div>



</body>
</html>   